<%= stylesheet_link_tag "toppages/index", :media => "all" %>

<div class="jumbotron">
  
  <div class="container-fluid jumbotron-container">
  
    <div class="text-center">
      
      <div class="m-5">
      
        <h1>ようこそ、スケジュール管理アプリへ</h1>
        
          <div class="mt-5">
      
           <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
        
          </div>
      
      </div>
      
    </div>

  </div>

</div>

<div class="application_title">
  
  <div class="border border-info" style="padding: 10px;">
  
    <div class="text-center text-success">
      
      <h2>~サービスの利用方法と内容~</h2>
    
    </div>
  
  </div>  

</div>

<div class="row m-5">
  
  <p>1.サービスを利用するためには初めにログインをしましょう。</p>
  
</div>

<div class="row m-5">
  
  <p>2.ログインを行うと各ユーザーのスケジュールを表示します。</p>

</div>

<div class="row m-5">
  
  <p>3.各ユーザーごとのスケジュールをスケジュール管理アプリ上で追加・編集・閲覧などが行えます</p>

</div>






