<%= stylesheet_link_tag "toppages/index", :media => "all" %>

<div class="jumbotron">
  
  <div class="container-fluid jumbotron-container">
  
    <div class="text-center">
      
      <div class="m-5">
      
        <h1>ようこそ、スケジュール管理アプリへ</h1>
        
          <div class="mt-5">
      
           <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
        
          </div>
      
      </div>
      
    </div>

  </div>

</div>

<div class="application_title">
  
  <h2>~サービスの利用方法と内容~</h2>

</div>

<div class="content_first">

  <div class="article_first">
    
    <h4>ログインしよう!</h4>
    
      <p>1.サービスを利用するためには初めにログインをしましょう。</p>
      
      <p>2.ナビバーのログインリンクからログインページに移動しましょう。</p>
    
  </div>
  
  <div class="picture_one">
  
   <img src="/assets/ログインページ.png" alt="ログインページの画像">
   
  </div>

</div>

<div class="content_second">

  <div class="article_second">
    
    <h4>スケジュールの登録をしてみよう!</h4>
    
      <p>2.ログインを行うと各ユーザーのスケジュールを表示します。</p>
    
  </div>
  
  <div class="picture_two">
  
  <img src="">
  
  </div>

</div>

<div class="content_third">

  <div class="article_third">
    
    <p>3.各ユーザーごとのスケジュールをスケジュール管理アプリ上で追加・編集・閲覧などが行えます</p>
    
  </div>
  
  <div class="picture_third">
  
   <img src="">
   
  </div>

</div>  








